@model WebForSell.Models.LastestProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>LastestProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="isLasted" class="control-label"></label>
                <input asp-for="isLasted" class="form-control" />
                <span asp-validation-for="isLasted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastestProductName" class="control-label"></label>
                <input asp-for="LastestProductName" class="form-control" />
                <span asp-validation-for="LastestProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isLasted" class="control-label"></label>
                <input asp-for="isLasted" class="form-control" />
                <span asp-validation-for="isLasted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastestProductPrice" class="control-label"></label>
                <input asp-for="LastestProductPrice" class="form-control" />
                <span asp-validation-for="LastestProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastestProductImage" class="control-label"></label>
                <input asp-for="LastestProductImage" class="form-control" />
                <span asp-validation-for="LastestProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

