<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="/Home">
                    <span class="icon-holder">
                        <i class="fa-solid fa-house-user"></i>
                    </span>
                    <span class="title">Home page</span>
                    
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/Users">
                    <span class="icon-holder">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="title">Users</span>
                    
                </a>
                
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/Brands">
                    <span class="icon-holder">
                        <i class="fa-solid fa-building"></i>
                    </span>
                    <span class="title">Brand</span>
                   
                </a>
               
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/Categories">
                    <span class="icon-holder">
                        <i class="fa-solid fa-certificate"></i>
                    </span>
                    <span class="title">Category</span>
                    
                </a>
               
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/HomeProducts">
                    <span class="icon-holder">
                        <i class="fa-brands fa-product-hunt"></i>
                    </span>
                    <span class="title">HomeProduct</span>

                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/Products">
                    <span class="icon-holder">
                        <i class="fa-brands fa-product-hunt"></i>
                    </span>
                    <span class="title">Product</span>
                    
                </a>
               
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/Dofweeks">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Deals Of The Week</span>
                    
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/TopSells">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Top Selling Products</span>
                    
                </a>
               
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/NewArrs">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">New Arrivals</span>
                  
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/OnSales">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Onsale Products</span>
                   
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/LastestProducts">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Latest Products</span>
                    
                </a>

            </li>
        </ul>
    </div>
</div>