@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<main id="MainContent" class="main-content content-for-layout" tabindex="-1">
    <div class="main-content__inner">
        <div id="shopify-section-template--15560039628852__16266097795e2c2841" class="shopify-section velaFramework">
            <style>
                media(min-width: 1200px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text-content .wrapper

                {
                    padding: 10px
                }

                }

                #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--1 {
                    color: #000000;
                    font-size: 28px;
                    margin: 0 0 15px;
                }

                media(min-width: 768px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--1

                {
                    color: #000000;
                    font-size: 34px;
                    margin: 0 0 20px;
                }

                }

                media(min-width: 1200px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--1

                {
                    color: #000000;
                    font-size: 40px;
                    margin: 0 0 30px;
                }

                }

                #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--2 {
                    color: #000000;
                    font-size: 16px;
                    margin: 0 0 30px;
                }

                media(min-width: 768px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--2

                {
                    color: #000000;
                    font-size: 16px;
                    margin: 0 0 30px;
                }

                }

                media(min-width: 1200px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--2

                {
                    color: #000000;
                    font-size: 16px;
                    margin: 0 0 50px;
                }

                }

                #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--3 {
                    color: #666666;
                    font-size: 14px;
                    margin: 0 0 25px;
                }

                media(min-width: 768px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--3

                {
                    color: #666666;
                    font-size: 14px;
                    margin: 0 0 25px;
                }

                }

                media(min-width: 1200px) {
                    #image-with-text-template--15560039628852__16266097795e2c2841 .image-with-text__text--3

                {
                    color: #666666;
                    font-size: 14px;
                    margin: 0 0 30px;
                }

                }</style>
            <div id="image-with-text-template--15560039628852__16266097795e2c2841" class="vela-section image-with-text overflow-hidden" style="--st-pd-dt: 100px 0;--st-pd-mb: 60px 0;">
                <div class="image-with-text__inner " style="">
                    <div class="container">
                        <div class="row g-4">
                            <div class=" col-12 col-md-6 col-xl-6">
                                <div class="image-with-text__banner position-relative">
                                    <div class="card_wrap">
                                        <div class="card__image position-relative lazyload js" style="padding-top:110.87719298245614%;" role="img"
                                             aria-label=""
                                             data-alt=""
                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/about-banner.jpg?v=1670982988&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/about-banner.jpg?v=1670982988&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/about-banner.jpg?v=1670982988&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/about-banner.jpg?v=1670982988&width=570 570w"
                                             data-sizes="auto">
                                            <div class="pre-loading position-absolute">
                                                <span class="pre-loading__bar"></span>
                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class=" image-with-text-content text-left col-12 col-md-6 col-xl-6">
                                <div class="wrapper position-relative translate-middle-y top-50">
                                    <div class="image-with-text__text--1 h3 ">Our story</div><div class="image-with-text__text--2 text "><div style="width: 70px; height: 2px; background: var(--primary);"></div></div><div class="image-with-text__text--3 text "><div style="max-width: 500px; line-height: 30px;">Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.</div></div><div class="image-with-text__image">
                                        <span class="d-inline-block">
                                            <img src="../../cdn.shopify.com/s/files/1/0012/5334/3284/files/about_signaturef77e.png?v=1670811828&amp;width=160" width="160" height="21.554404145077722" loading="lazy" class="img-fluid">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="shopify-section-template--15560039628852__1641829717daee09a9" class="shopify-section velaFramework">
            <div class="vela-section about-services overflow-hidden" style="margin: 0 0 60px;padding: 0 0 60px; background-image: url(../../cdn.shopify.com/s/files/1/0012/5334/3284/files/vela-image28c27.jpg?v=1613696431);">
                <div class="container">
                    <div class="vela-section__inner my-3 py-5">
                        <div class="heading-group about-heading mb-5 pb-lg-4 text-center">
                            <h2 class="heading mb-3 mb-md-4 mb-xxl-5 pb-3 pb-lg-4">
                                <span>Our services</span>
                            </h2><div class="sub-heading mb-1">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica
                            </div>
                        </div><div class="vela-section__content pt-2 pt-md-4">
                            <div class="row g-3 g-md-4 row-cols-1 row-cols-ms-1 row-cols-md-3 row-cols-lg-3">

                                <div class="col">
                                    <div class="services-box py-4 py-md-5 px-3 px-md-4 bg-white border">
                                        <div class="services-count text-primary h4" style="font-size: 21px;">01.</div>
                                        <div class="services-box__content">
                                            <h4 class="services-title mb-3 mb-md-4" style="color: #000000; font-size: 21px;">Sell fashion products</h4><div class="services-desc mt-2" style="color: #666666; font-size: 14px;">
                                                Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="services-box py-4 py-md-5 px-3 px-md-4 bg-white border">
                                        <div class="services-count text-primary h4" style="font-size: 21px;">02.</div>
                                        <div class="services-box__content">
                                            <h4 class="services-title mb-3 mb-md-4" style="color: #000000; font-size: 21px;">Custom works</h4><div class="services-desc mt-2" style="color: #666666; font-size: 14px;">
                                                Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="services-box py-4 py-md-5 px-3 px-md-4 bg-white border">
                                        <div class="services-count text-primary h4" style="font-size: 21px;">03.</div>
                                        <div class="services-box__content">
                                            <h4 class="services-title mb-3 mb-md-4" style="color: #000000; font-size: 21px;">Worldwide delivery</h4><div class="services-desc mt-2" style="color: #666666; font-size: 14px;">
                                                Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="shopify-section-template--15560039628852__1641828831db573683" class="shopify-section velaFramework">
            <div class="vela-section velaHTML overflow-hidden" style="--st-pd-dt: 60px 0 30px;--st-mg: 0 0 60px;">
                <div class="container">
                    <div class="vela-section__inner">
                        <div class="velaContent">
                            <div class="rte">
                                <p class="text-primary" style="font-size: 150px; text-align: center; line-height: 120px; height: 50px;">“</p>
                                <div class="mx-auto text-center" style="font-weight: 500; color: #000; font-size: 21px; line-height: 32px; max-width: 560px;">We’re just a small fashion store but we come to the world just to make it better, bring the fashion and style to everyone </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="shopify-section-template--15560039628852__164183282059eae023" class="shopify-section velaFramework">
            <div class="vela-section velaBorder overflow-hidden" style="--st-mg: 0;">
                <div class="container-full">
                    <div class="vela-section__inner">
                        <div class="borderStyle" style="border-top: solid 1px #e5e5e5; line-height: 0;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div><div id="shopify-section-template--15560039628852__16418323839c2bdc4e" class="shopify-section">
            <div class="vela-section custom-liquid overflow-hidden" style="">
                <div class="container-fluid">
                    <div class="mx-auto" style="max-width: 1430px;">
                        <div class="row text-center">
                            <div class="col-12 col-md-6 border-end">
                                <div class="my-3 my-lg-5 py-5">
                                    <h4 class="mb-4">Contact us</h4>
                                    <p style="max-width: 475px; margin: 0 auto 25px;"> Lorem Khaled Ipsum is a major key to success. Congratulations, you played yourself. Cloth talk. You do know, you do know that they don’t want you to have lunch</p>
                                    <p><a class="btn rounded-pill btn-default px-5 py-2 lh-lg" href="contact-us.html">Contact us</a></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="border-top d-block d-md-none" style="line-height: 1px;"></div>
                                <div class="my-3 my-lg-5 py-5">
                                    <h4 class="mb-4">Work with us</h4>
                                    <p style="max-width: 475px; margin: 0 auto 25px;"> Lorem Khaled Ipsum is a major key to success. Congratulations, you played yourself. Cloth talk. You do know, you do know that they don’t want you to have lunch</p>
                                    <p><a class="btn rounded-pill btn-default px-5 py-2 lh-lg" href="contact-us.html">Open positions</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><div id="shopify-section-template--15560039628852__1641832858d0fafffd" class="shopify-section velaFramework">
            <div class="vela-section velaBorder overflow-hidden" style="--st-mg: 0 0 60px;">
                <div class="container-full">
                    <div class="vela-section__inner">
                        <div class="borderStyle" style="border-top: solid 1px #e5e5e5; line-height: 0;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div><div id="shopify-section-template--15560039628852__16268371625be60272" class="shopify-section">
            <div class="our-teams vela-section overflow-hidden" style="--st-pd-dt: 40px 0;--st-pd-mb: 0;">
                <div class="container">
                    <div class="our-teams__inner">
                        <div class="heading-group about-heading mb-5 pb-lg-4 text-center">
                            <h2 class="heading mb-3 mb-md-4 mb-xxl-5 pb-3 pb-lg-4">
                                <span>Meet our team</span>
                            </h2><div class="sub-heading mb-1">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica
                            </div>
                        </div><div class="vela-section__content">
                            <div class="our-teams__content">
                                <div class="row g-3 g-md-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_1.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_1.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_1.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Angela Jolie</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_2.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_2.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_2.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Robin Jordan</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_3.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_3.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_3.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Rojo</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_4.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_4.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_4.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Lil Wayne</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_5.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_5.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_5.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Zat Knight</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="about-member text-center">
                                            <div class="about-member__image position-relative mb-3 pb-md-1">
                                                <div class="aboutIcon mx-auto">
                                                    <div class="card_wrap">
                                                        <div class="card__image position-relative lazyload js" style="padding-top:71.35135135135135%;" role="img"
                                                             aria-label=""
                                                             data-alt=""
                                                             data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_6.jpg?v=1670984030&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_6.jpg?v=1670984030&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/abouteam_6.jpg?v=1670984030&width=370 370w"
                                                             data-sizes="auto">
                                                            <div class="pre-loading position-absolute">
                                                                <span class="pre-loading__bar"></span>
                                                                <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-member__content pb-2"><h5 class="about-member__name mb-1">Steven</h5><div class="about-member__position pb-2">CEO & Founder</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>