
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <main id="MainContent" class="main-content content-for-layout" tabindex="-1">
        <div class="main-content__inner">
            <section id="shopify-section-template--15545692979252__breadcrumb" class="shopify-section col-xs-12 col-lg-12">
                <style>
                    :root {
                        --breadcrumb-bg: #ffffff;
                        --breadcrumb-color-link: #999999;
                        --breadcrumb-color: #ff9300;
                        --breadcrumb-heading-color: #222222;
                    }

                    .vela-breadcrumbs {
                        min-height: 60px;
                        margin: 0 auto 30px;
                    }

                    media screen and (max-width: 767px) {
                        .vela-breadcrumbs {
                            min-height: 60px;
                        }
                    }
                </style>
                <div class="vela-breadcrumbs d-flex align-items-center vela-breadcrumbs--no-image">
                    <div class="container">
                        <div class="vela-breadcrumbs__inner align-items-start flex-column" aria-label="breadcrumb">
                            <h1 class="vela-breadcrumbs__title mb-2 d-none">News</h1>
                            <ol class="breadcrumb m-0" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a class="breadcrumb__link" href="/Home" title="Home" itemprop="item">
					<span itemprop="name">Home</span>
					</a>
                                    <meta itemprop="position" content="1" />
                                </li>
                                <li class="breadcrumb-item breadcrumb__item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <span class="breadcrumb__text">
						<span itemprop="name">News</span>
                                    </span>
                                    <meta itemprop="position" content="2" />
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <section id="shopify-section-template--15545692979252__main" class="shopify-section">
                <link href="//cdn.shopify.com/s/files/1/0012/5334/3284/t/12/assets/component-article-card.css?v=111603181540343972631670405697" rel="stylesheet" type="text/css" media="all" />
                <link href="//cdn.shopify.com/s/files/1/0012/5334/3284/t/12/assets/section-main-blog.css?v=138544941788945284631670405699" rel="stylesheet" type="text/css" media="all" />
                <link href="//cdn.shopify.com/s/files/1/0012/5334/3284/t/12/assets/section-blog-sidebar.css?v=12837461756903014721672313806" rel="stylesheet" type="text/css" media="all" />
                <div class="main-blog mb-xl-5">
                    <div class="main-blog__content">
                        <div class="container">
                            <div class="row sidebarright">
                                <div class="main-blog__inner col">
                                    <div class="article__list">
                                        <div class="row g-3 g-md-4">

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-8">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?v=1535469917&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-8" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-08-28T11:25:00Z" class="date">28 Aug, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-8">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-7">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?v=1535469877&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-7" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-08-28T11:24:00Z" class="date">28 Aug, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-7">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-6">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?v=1535469801&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-6" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-08-28T11:23:00Z" class="date">28 Aug, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-6">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-5">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?v=1535469345&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-5" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:31:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-5">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-4">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/2_47903aea-3631-494c-8534-144c5ce37d3d.jpg?v=1535469522&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-4" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:31:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-4">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-3">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/3_21347a8b-f038-49fa-bf1f-162fc32b2545.jpg?v=1535469551&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>,

                                                            <a href="/blogs/news/tagged/electronic" class="tags__item">Electronic</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-3" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:30:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-3">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-2">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/4.jpg?v=1535469582&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>,

                                                            <a href="/blogs/news/tagged/electronic" class="tags__item">Electronic</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-2" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:29:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-2">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-1">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/5.jpg?v=1535469616&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/digital" class="tags__item">Digital</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta-1" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:29:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-1">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 pb-3">
                                                <article class="article blog__grid">

                                                    <div class="article__image mb-3">
                                                        <a class="article__featured-image-link d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:58.11965811965812%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=720 720w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=900 900w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=1080 1080w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/6.jpg?v=1535469645&width=1170 1170w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="article__content">
                                                        <div class="article__tags mb-1 mb-xxl-2">

                                                            <a href="/blogs/news/tagged/apple" class="tags__item">Apple</a>,

                                                            <a href="/blogs/news/tagged/camera" class="tags__item">Camera</a>

                                                        </div>
                                                        <h6 class="article__title mb-2 pb-1">
                                                            <a class="effect-line line-title" href="/blogs/news/nam-liber-tempor-cum-soluta" title="Nam liber tempor cum soluta."><span>Nam liber tempor cum soluta.</span></a>
                                                        </h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            <div class="article__meta-date mb-1"><time datetime="2018-07-06T22:21:00Z" class="date">06 Jul, 2018</time></div>
                                                            <div class="article__meta-author d-flex align-items-center mb-1">
                                                                By<span class='ms-1'>Mr. Admin</span></div>
                                                        </div>
                                                        <div class="rte article__excerpt pt-1">
                                                            Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist a...
                                                        </div>
                                                        <div class="d-flex justify-content-end pt-3 mt-1">
                                                            <a class="article__btn" href="/blogs/news/nam-liber-tempor-cum-soluta">Read more</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto sidebar-right">
                                    <div id="sidebar_right" class="blog-sidebar visible" data-bs-backdrop="false">
                                        <a class="d-block d-lg-none btn-sidebar btn-sidebar--open position-absolute" data-bs-toggle="offcanvas" href="#sidebar_right" role="button" aria-controls="sidebar_right">
									<svg   aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
  </svg>
								</a>
                                        <div class="offcanvas-body pb-0 p-lg-0">
                                            <div class="d-block d-lg-none text-end">
                                                <a class="btn btn-sidebar btn-sidebar--close position-relative sidebar_right" data-bs-toggle="offcanvas" href="#sidebar_right" role="button" aria-controls="sidebar_right">
            <svg   xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"  fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor" />
    </svg>
        </a>
                                            </div>
                                            <div class="blog-sidebar--inner overflow-hidden">
                                                <div class="blog-search mb-4 mb-lg-5">
                                                    <div class="block-sidebar__content position-relative">
                                                        <div class="block-sidebar__content--inner">
                                                            <form action="/search" method="get" class="blog-search__form" role="search">
                                                                <input type="hidden" name="type" value="article" />
                                                                <input type="hidden" name="view" value="article" />
                                                                <div class="input-group border rounded-1 overflow-hidden">
                                                                    <input class="form-control blog-search__input border-0" type="search" name="q" value="" placeholder="Search our blog..." aria-label="Search our blog...">
                                                                    <button type="submit" class="btn blog-search__btn bg-white">
                                            <svg  class="mb-1" width="18px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M1014.64 969.04L703.71 656.207c57.952-69.408 92.88-158.704 92.88-256.208c0-220.912-179.088-400-400-400s-400 179.088-400 400s179.088 400 400 400c100.368 0 192.048-37.056 262.288-98.144l310.496 312.448c12.496 12.497 32.769 12.497 45.265 0c12.48-12.496 12.48-32.752 0-45.263zM396.59 736.527c-185.856 0-336.528-150.672-336.528-336.528S210.734 63.471 396.59 63.471c185.856 0 336.528 150.672 336.528 336.528S582.446 736.527 396.59 736.527z"/></svg>
                                        </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="related-artibles mb-4 mb-lg-5">
                                                    <h5 class="block-sidebar__title related-artibles__title">
                                                        Latest posts
                                                    </h5>
                                                    <div id="related2" class="block-sidebar__content related-artibles__content position-relative">
                                                        <div class="block-sidebar__content--inner">
                                                            <ul class="related-artibles__list mb-0">
                                                                <li class="related-artibles__item mb-2 pb-2 mt-1 pt-1">
                                                                    <div class="related-artibles__card row g-3">
                                                                        <div class="related-artibles__card-image col-4">
                                                                            <a class="d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-8">

                                                                                <div class="card_wrap">
                                                                                    <div class="card__image position-relative lazyload js" style="padding-top:100.0%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?crop=center&height=180&v=1535469917&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?crop=center&height=360&v=1535469917&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?crop=center&height=540&v=1535469917&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/9.jpg?crop=center&v=1535469917&width=680 680w"
                                                                                        data-sizes="auto">
                                                                                        <div class="pre-loading position-absolute">
                                                                                            <span class="pre-loading__bar"></span>
                                                                                            <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="related-artibles__card-content col-8">
                                                                            <a href="/blogs/news/nam-liber-tempor-cum-soluta-8"><span>Nam liber tempor cum soluta.</span></a>
                                                                            <a class="related-artibles__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-8">Read more</a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="related-artibles__item mb-2 pb-2 mt-1 pt-1">
                                                                    <div class="related-artibles__card row g-3">
                                                                        <div class="related-artibles__card-image col-4">
                                                                            <a class="d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-7">

                                                                                <div class="card_wrap">
                                                                                    <div class="card__image position-relative lazyload js" style="padding-top:100.0%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?crop=center&height=180&v=1535469877&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?crop=center&height=360&v=1535469877&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?crop=center&height=540&v=1535469877&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/8.jpg?crop=center&v=1535469877&width=680 680w"
                                                                                        data-sizes="auto">
                                                                                        <div class="pre-loading position-absolute">
                                                                                            <span class="pre-loading__bar"></span>
                                                                                            <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="related-artibles__card-content col-8">
                                                                            <a href="/blogs/news/nam-liber-tempor-cum-soluta-7"><span>Nam liber tempor cum soluta.</span></a>
                                                                            <a class="related-artibles__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-7">Read more</a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="related-artibles__item mb-2 pb-2 mt-1 pt-1">
                                                                    <div class="related-artibles__card row g-3">
                                                                        <div class="related-artibles__card-image col-4">
                                                                            <a class="d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-6">

                                                                                <div class="card_wrap">
                                                                                    <div class="card__image position-relative lazyload js" style="padding-top:100.0%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?crop=center&height=180&v=1535469801&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?crop=center&height=360&v=1535469801&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?crop=center&height=540&v=1535469801&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/7.jpg?crop=center&v=1535469801&width=680 680w"
                                                                                        data-sizes="auto">
                                                                                        <div class="pre-loading position-absolute">
                                                                                            <span class="pre-loading__bar"></span>
                                                                                            <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="related-artibles__card-content col-8">
                                                                            <a href="/blogs/news/nam-liber-tempor-cum-soluta-6"><span>Nam liber tempor cum soluta.</span></a>
                                                                            <a class="related-artibles__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-6">Read more</a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="related-artibles__item">
                                                                    <div class="related-artibles__card row g-3">
                                                                        <div class="related-artibles__card-image col-4">
                                                                            <a class="d-block overflow-hidden rounded-1" href="/blogs/news/nam-liber-tempor-cum-soluta-5">

                                                                                <div class="card_wrap">
                                                                                    <div class="card__image position-relative lazyload js" style="padding-top:100.0%;" role="img" aria-label="Nam liber tempor cum soluta." data-alt="Nam liber tempor cum soluta." data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?crop=center&height=180&v=1535469345&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?crop=center&height=360&v=1535469345&width=360 360w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?crop=center&height=540&v=1535469345&width=540 540w ,//cdn.shopify.com/s/files/1/0012/5334/3284/articles/1_620d799e-8554-4985-8bc5-ad509bf4fd0a.jpg?crop=center&v=1535469345&width=680 680w"
                                                                                        data-sizes="auto">
                                                                                        <div class="pre-loading position-absolute">
                                                                                            <span class="pre-loading__bar"></span>
                                                                                            <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="related-artibles__card-content col-8">
                                                                            <a href="/blogs/news/nam-liber-tempor-cum-soluta-5"><span>Nam liber tempor cum soluta.</span></a>
                                                                            <a class="related-artibles__btn" href="/blogs/news/nam-liber-tempor-cum-soluta-5">Read more</a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="blog-tags mb-4 mb-lg-5">
                                                    <h5 class="block-sidebar__title blog-tags__title">
                                                        Articles Tags
                                                    </h5>
                                                    <div id="tags3" class="block-sidebar__content blog-tags__content position-relative">
                                                        <div class="block-sidebar__content--inner">
                                                            <ul class="blog-tags__list">

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/apple?view=sidebar-right" title="Show products matching tag Apple">Apple</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/camera?view=sidebar-right" title="Show products matching tag Camera">Camera</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/digital?view=sidebar-right" title="Show products matching tag Digital">Digital</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/electronic?view=sidebar-right" title="Show products matching tag Electronic">Electronic</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/gift?view=sidebar-right" title="Show products matching tag Gift">Gift</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/kid-s?view=sidebar-right" title="Show products matching tag Kid’s">Kid’s</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/laptop?view=sidebar-right" title="Show products matching tag Laptop">Laptop</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/men-s?view=sidebar-right" title="Show products matching tag Men’s">Men’s</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/phone?view=sidebar-right" title="Show products matching tag Phone">Phone</a></li>

                                                                <li class="blog-tags__item"><a href="/blogs/news/tagged/tablet?view=sidebar-right" title="Show products matching tag Tablet">Tablet</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="blog-banner mb-4 mb-lg-5">
                                                    <div class="block-sidebar__content">
                                                        <a class="d-block overflow-hidden rounded-1" href="/collections/all" title="Outstock">

                                                            <div class="card_wrap">
                                                                <div class="card__image position-relative lazyload js" style="padding-top:142.96296296296296%;" role="img" aria-label="" data-alt="" data-bgset="//cdn.shopify.com/s/files/1/0012/5334/3284/files/banner2.jpg?v=1613694538&width=180 180w ,//cdn.shopify.com/s/files/1/0012/5334/3284/files/banner2.jpg?v=1613694538&width=270 270w"
                                                                    data-sizes="auto">
                                                                    <div class="pre-loading position-absolute">
                                                                        <span class="pre-loading__bar"></span>
                                                                        <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main>

