


@model SmallCartViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Day la cart</h1>

@if (Model != null)
{
        <p> Items in cart : <span class ="badge badege-primary"> @Model.NumberOfItems</span></p>
        <p> Total: <b>@Model.TotalAmount.ToString("C2")</b></p>
        <a href="#" class="btn btn-primary mb-2">View Cart</a>
        <a href="#" class="btn btn-danger">Clear Cart</a>
}
else
{
        <p> Cart is empty123</p>
}



